html, body {
	height:100%;
	font-family: Verdana;
	font-size: small;
	margin: 0;
}
#map{
	width: 1000px;
	height: 600px;
}
#info{
	width: 350px;
}
#info h2{
	margin-top: 0;
}
#info img{
	float: left;
	margin-right: 10px;
}